
<navbar></navbar>

<!DOCTYPE html>
<html>
  <head>
    <title>About Us | Ecommerce App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-+jZ9k2/QG0n3fU5jj5LR5SD6NRQV6jzLxo0vc1RpskX9aZPjCZcEzDJdiJF51jKiu+b1I4/U1vLeQV7k8XVDmA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      body {
        position:absolute;
        top: 3%;
        background-color:white;
      }
      h1, h2 {
        color: black;
       text-align: center;
      }
      p {
        color:black;
        /* text-align: center; */
      }
      div{
        margin-left: 60px;
      }

    </style>
  </head>
  <body>
    <div class="container py-5"  style="align-items: center;" >
    <h1 class="mb-4">Welcome to Fashio!</h1>
      <div class="lead mb-4">We're a team of passionate ecommerce experts who are dedicated to making online shopping as easy and convenient as possible. Here's a little more about us:</div>
      <h2>Our Mission</h2><br>
      <div>Our mission is to help customers find the products they need quickly and easily, and to provide a seamless shopping experience that keeps them coming back. We're committed to making ecommerce accessible to everyone, and we believe that online shopping should be fun, not frustrating.</div> <br>
      <h2>CompanyHistory</h2> <br>
      <div>We were founded in 2023 by a group of entrepreneurs who saw a need for a better way to shop online. Since then, we've grown into a trusted source for ecommerce, with thousands of happy customers around the world. We're constantly innovating and improving our app to make sure it meets the changing needs of our customers.</div> <br>
      <h2>Our Values</h2><br>
      <div>At our core, we believe in honesty, transparency, and fairness. We treat our customers and partners with respect, and we're committed to doing business in a way that benefits everyone involved. We're also passionate about sustainability, and we work hard to reduce our environmental impact in everything we do.</div> <br>
       <h2>Meet the Team</h2> <br>
      <div>Our team is made up of ecommerce experts from around the world. We're a diverse group of people who share a common goal: to make online shopping better for everyone. Whether we're developing new features, working with partners, or helping customers with their orders, we're always focused on providing the best possible experience.</div>  <br>

    </div>
  </body>
</html>
