                                 /* Nav Bar */


/* .header{

} */
.header .row
{
  margin-top: 10px;
}
.btn:hover{
  background: #563434;
}

.navigation{
  position: fixed;
  top: 70px;
  bottom: 20px;
  left: 0px;
  width: 300px;
  border-radius: 10px;
  box-sizing: initial;
  border-left: 5px solid #4b4a4b92;
  /* background: #ece8ed92; */
  background: white;
  transition:width 1s;
  overflow: hidden;
  opacity: 0.8px;
  /* transition: background 0.5s; */
}
.navigation.active{
  width: 300px;

}
.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;
}
.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
}
.navigation ul li:hover{
  background: #8e8c8c;
}
.navigation ul li div{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #222020;
}
.navigation ul li.active div{
  color: #1a1919;
}
.navigation ul li div .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li div .icon .material-symbols-outlined{
  font-size: 1.5em;
}
.navigation ul li div .title-one{
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
.toggle{
  position: fixed;
  top: 20px;
  /* right: 20px; */
  left: 50px;
  width: 50px;
  height: 50px;
  /* background: #4d5bf9; */
  border-radius: 10px;
  cursor: pointer;
}
.dropdown{
  color: #d72323;
  padding-left: 90px;
}
.dropdown p:hover{
  background-color: #333;
  width: 57px;
  border-radius: 5px;

}
.dropdown .dropdown-men{
  padding-left: 8px;
}
.dropdown .dropdown-kids{
  padding-left: 8px;
}
.close{
  position: absolute;
  top: 55px;
  left: 223px;
  font-size: 30px;
}


.navbar{
  display: flex;
  align-items: self-start;
  padding: 0px;

   position: fixed;
   left: 0;
  width: 100vmax;
  top: 0;
    background: radial-gradient(#f8e3e3,#ffd6d6);
    z-index: 3;
     height: 7vh;
}

.navbar .logo{
  padding-top: 8px;
  padding-left: 130px;
  font-size: 20px;

}


 nav{
  text-align: left;
}

nav ul{
  display: inline-block;
  list-style: none;
  padding-right: 100px;
  padding-top: 13px;

}
nav ul li{
   display: inline-block;
   margin-right: 8rem;
}

.searchfield{
  margin-left: 230px;
  width: 290px;
  border-radius: 17px;
  height: 35px;
}
.searchbutton{
  border-radius: 23px;
  background-color: white;
  height: 27px;
  border: 1px solid white;
  position: relative;
  right: 42px;
  top:1px;
  bottom: 40px;
}
a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}

